

p{ 
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
h1{ 
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h4{ 
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

ul{ 
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
button{
    color: white;
    background-color: #4CAF50;
    border-radius: 45%;
}
button:hover{
    background-color: #45a049;
}
#logoutButton{
    margin-left: 90%;
    margin-top: 20%;
}

#homeLink{
    margin: 20px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    
    
}

#createLink{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
   
}



#aboutLink{
    margin:0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 21px;
    border: solid 2px black;
    border-radius: 45%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#aboutLink:hover{
    background-color: #45a049;
}

#supportLink{
    margin: 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 21px;
    border: solid 2px black;
    border-radius: 45%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#supportLink:hover{
    background-color: #45a049;
}